<div class="container-fluid bg-theme height-100">
    <div class="row">
        <div class="forgotpassword-div col-lg-4 offset-lg-4 px-0 mat-elevation-z22">
            <div class="forgotpassword-head text-center">
                <img src="../../../assets/images/logo_tecprotec.png">
            </div>

            <div class="forgotpassword-body">
                <form>
                    <mat-form-field class="col-lg-12 mt-3" appearance="outline" [formGroup]="forgotFormGroup">
                        <mat-label>E-mail Id</mat-label>
                        <input matInput placeholder="Enter your e-mail id" formControlName="forgotEmail" required>
                        <mat-error
                            *ngIf="!forgotFormGroup.get('forgotEmail').valid && forgotFormGroup.get('forgotEmail').touched">
                            Please enter valid e-mail id</mat-error>

                    </mat-form-field>
                    <div class="col-lg-12 text-center">
                        <button mat-raised-button color="primary" [disabled]="forgotFormGroup.invalid">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>